<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="2.7.1" targetFramework="net452" />
  <package id="FsCheck.NUnit" version="2.7.1" targetFramework="net452" />
  <package id="FsCheck.Xunit" version="2.7.1" targetFramework="net452" />
  <package id="FSharp.Core" version="4.0.0.1" targetFramework="net452" />
  <package id="FSharp.Data" version="2.3.2" targetFramework="net452" />
  <package id="FSharp.Data.TypeProviders" version="5.0.0.2" targetFramework="net452" />
  <package id="NUnit" version="3.6.0" targetFramework="net452" />
  <package id="Suave" version="2.0.4" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net452" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="net452" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="net452" />
</packages>